.목록정렬{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.목록정렬 li {
  list-style: none;
  padding-left:15px;
  cursor: pointer;
}

.img{
  display: flex;
  justify-content: center;
 
}

.login{
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.login_text{
  padding:13px;
  font-size: 1.2rem;
}

.login_user{
  padding-top:8px;
  width:35px;
  height: 35px;
}

.search{
  position:absolute;
  right:2%;
  top:-80%;
  border-bottom: 1px solid gray;
}
input{
  border: 0 solid black;
  padding-left:10px;
  height: 30px;
}

input:focus{
  outline: none;
}

.product-img{
  display: flex;
  justify-content: end;
}