@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FUNFLOWSURVIVORKR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/FUNFLOWSURVIVORKR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Happiness-Sans-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MonoplexKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MICEMyungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'MonoplexKR-Regular';
}
.목록정렬{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.목록정렬 li {
  list-style: none;
  padding-left:15px;
  cursor: pointer;
}

.img{
  display: flex;
  justify-content: center;
 
}

.navb-login{
  display: flex;
  justify-content: end;
  cursor: pointer;
  align-items: center;
  width: 100%;
  position: relative;
}

.nav_text_title{
  position: absolute;
  left:10px;
  color:white;
  font-family: 'Happiness-Sans-Title';
}

.nav_text{
  display: flex;
  padding: 10px 20px 0 5px;
  color: rgb(231, 226, 226);
  font-size: 0.9rem;
  position:relative;
 
}

.바구니{
  padding-left:10px;
  font-size: 1.1rem;
  
}
.바구니갯수{
  position:absolute;
  top:3px;
  right: 4px;
  background-color: rgb(162, 84, 234);
  width: 20px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  font-size: 0.9rem;
}
.돋보기{
  background-color: transparent;
  color:white;
  font-size: 1.1rem;
  
}
.login{
  width: 100%;
  background-color: black;
}


.login_text{
  padding:13px;
  font-size: 1.2rem;
  
}

.login_user{
  padding-top:8px;
  width:35px;
  height: 35px;
}

.search{
  position:absolute;
  right:2%;
  top:-80%;
  border-bottom: 1px solid gray;
  color:white;
}
.search img {
  color:red;
}
input{
  border: 0 solid black;
  padding-left:10px;
  height: 30px;
}

input:focus{
  outline: none;
}

.product-img{
  display: flex;
  justify-content: end;
 
}

.user_icon{
  font-size:1.8rem ;
 }

 .scale-in-hor-center {
	-webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}


.last{
  display: flex;
  justify-content: space-between;
  padding-top:10px;
}

.엑스{
  padding-right: 10px;
  cursor: pointer;
}
.input{
 height: 50px;
}

.logo{
  font-size: 1.7rem;
  
}

.home_title{
  width: 100%;
  display: flex;
  justify-content: center;
  padding:20px 0 ;
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn_icon{
  font-family : 'Material Icons';
}
.dropbtn{
  background-color: transparent;
  font-weight: 400;
  color : rgb(37, 37, 37);
  padding : 12px;
  text-align: left;
  cursor : pointer;

}
.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width : 150px;
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
  font-family: 'LINESeedKR-Bd';
  
}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main_wrap{
  display: flex;
  justify-content: center;
  width: 100%;
}

.main_img{
  width: 100%;

  height: 700px;
  -o-object-fit: cover;
     object-fit: cover
}

.home_text{
  width:100% ;
  display: inline-block;
 
  margin-top:100px;
}

.home_text img {
  width: 50% ;
}

.manimg{
  width: 80%;
 
  border-radius: 20%;
  box-shadow: 12px 9px 11px -2px rgba(0,0,0,0.36);
  -webkit-box-shadow: 12px 9px 11px -2px rgba(0,0,0,0.36);
  -moz-box-shadow: 12px 9px 11px -2px rgba(0,0,0,0.36);
cursor: pointer;
}

.women:hover{
  transform: scale(1.1);
  transition: .5s;
}
.women{
  padding:10px;
  text-align: center;
  
  
}
.womenTitle{

  width: 100%;
  padding: 60px 0;
  margin:30px 0;
  
}

.womentext{
  width: 100%;
  font-family: 'MICEMyungjo';
  text-align: center;
}

.womens{
  width: 100%;
  text-align: center;
  font-size:2.5rem;
  font-family: 'FUNFLOWSURVIVORKR';
}

.mencard{
  margin:20px;
  text-align: center;
  cursor: pointer;
}

.mencard:hover{
  transform: scale(1.1);
  transition: .5s;
}

.all{
  padding:30px 0;
  text-align: center;
}
.text{
  margin-top:20px;
  font-family: 'S-CoreDream-3Light';
}

.manimg:active{
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
  position: relative;
  top:2px;
}

.HotTitle{
  width: 100%;

  position: relative;
}
.HotText{
  position: absolute;
  right: 10%;
  background-color: rgb(231, 109, 109);
  color:white;
  padding:15px;
  border-radius: 50%;
}
.버튼wrap{
  width: 100%;
  position: relative;
  text-align: center;
}
.버튼{
  position: absolute;
  right: 2%;
  font-size: 1.5rem;
  -webkit-animation: motion 0.3s linear 0s infinite alternate;
          animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
}
@-webkit-keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
}
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
}

.loginForm{
  width: 600px;
  border: 1px solid rgba(128, 128, 128, 0.537);
  padding:10px;
 }
 .logincenter{
  display: flex;
  justify-content: center;
  margin-top:50px;
  
 }

 .소개글{
  font-family: 'OTWelcomeRA';
 }

 .womens {
	-webkit-animation: womens 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: womens 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes womens  {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@-webkit-keyframes womens  {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@-webkit-keyframes womens  {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@-webkit-keyframes womens  {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@-webkit-keyframes womens  {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@-webkit-keyframes womens  {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@-webkit-keyframes womens  {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@-webkit-keyframes womens  {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes womens  {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.foot{
  margin-top:100px;
  padding:40px 30px;
  width: 100%;
  background-color: rgba(209, 205, 205, 0.183);
}
.foot p{
  font-family: 'S-CoreDream-3Light';
  font-size: 0.8rem;
  line-height: 2em;
}
.detail_img{
  height: 600px;
  width: 500px;
  border-radius: 10% 30% 30% 15% ;
  -o-object-fit: cover;
     object-fit: cover
}
.product_text{
 padding-top:30px;

}

.product_title{
 font-size: 1.4rem;
 padding-bottom: 20px;
 font-family: 'S-CoreDream-3Light';
}

.product_price{
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.547);
  width: 100%;
  color:rgb(193, 29, 177);
  font-weight: bold;
  font-size: 1.3rem;
}

.product_size{
  padding-bottom: 100px;
  margin-bottom: 10px;
  width: 150px;
  height: 50px;
  font-family: 'S-CoreDream-3Light';
}

.plus{
  background-color: transparent;
  
  border: none;
  font-size: 2em;
  color:rgb(88, 74, 74);
  border-radius: 10%;

  
}


.plus:active{
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
  position: relative;
  top:2px;

}

.공유{
  display: flex;
  

  
}

.공유이미지{
  font-size: 1.4rem;
  padding-left:20px;
}


.heartCount{
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.51);
  margin-bottom: 20px;
}
.heart{
  padding-right: 10px;
  font-size: 1.2rem;
  margin:10px 0;
  color:gray;
}
.Count{
  font-size: 1.2rem;
  margin:10px 0;
   color:gray;
}
.detailtitle{
  
}

dt{
  float: left;
  font-size: 1rem;
  padding-right: 50px;
  font-family: 'LINESeedKR-Bd';
}

dd{
  font-size: 0.9rem;
  
  
}
strong{
  padding-right: 40px;
}
ul{
  display: flex;
}
ul li {
  list-style:none;
  padding:30px;
}

.select{
  padding:15px 10px;
}

.select input[type=radio]{
  display: none;
}
.select input[type=radio]+label{
  display: inline-block;
  cursor: pointer;
  height: 40px;
  padding-top:10px;
  width: 90px;
  border: 1px solid #333;
  line-height: 24px;
  text-align: center;
  font-weight:bold;

  font-size:18px;
}
.select input[type=radio]+label{
  background-color: #fff;
  color: #000000;
  border:1px solid gray;
}
.select input[type=radio]:checked+label{
  background-color: #333;
  color: #fff;
  border:1px solid gray;
}

dl{
  border-bottom: 1px solid rgba(128, 128, 128, 0.515);
}

.select{
  border-bottom: 1px solid rgba(128, 128, 128, 0.515);
}

.주문btn{
  margin-top:30px;
}

.수량{
  display: flex;
}
.수량버튼 button{
  background-color: transparent;
  border:1px solid gray;
  width: 50px;
  height: 50px;
}
.수량숫자{
  font-size: 1.5rem;
}
.carttitle{
  padding-left:20px;
  font-family: 'MICEMyungjo';
}
.cartimg{
 
  width: 130px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.imgendCart{
  display: flex;
  padding:30px 10px;
  font-family: 'MICEMyungjo';
}
.장바구니wrap{
 width: 1000px;
margin:auto;
height: 200px;
font-family: 'MICEMyungjo';

}

.장바구니title{
  display: flex;
  justify-content: center;
  font-family: 'MICEMyungjo';
}
.cartfoot{
  width: 1000px;
  margin:auto;
  margin-top:80px;
  padding-top:60px;
  border-top:1px solid rgba(128, 128, 128, 0.111);
  color:gray;
  font-size: 0.8rem;
}
.cartfoot p{
  font-family: 'MICEMyungjo';
}
.cartproduct{
  padding:50px 0;
}

.cartcount{
  padding-top:13px;
  font-size: 1.2rem;
  font-family: 'MICEMyungjo';
  width: 50px;
}
.무료배송{
  color:rgb(177, 0, 242);
  font-size: 0.9em;
}
.cartPrice{
  padding-top:13px;
  width: 100px;
  font-family: 'MICEMyungjo';
}
.carttitleth{
  width: 110px;
  display: flex;
 
}
.left{
  padding-right: 10px;
  
}
